.arrow_box,
.error-block {
	position: relative;
	width: 165px;
	background: #ffffff;
	border: 1px solid #ff7000;
	border-radius: 6px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
}

.error-block {
	width: 100%;
	text-align: center;
	margin-bottom: 20px !important;
}

.arrow_box.error_box, 
.error-block {
	border-color: #ff0000;
}

.arrow_box.requirements {
	width: 265px;
}

.arrow_box p,
.error-block p {
	padding: 10px;
	margin: 0;
	font-weight: normal;
	font-size: 0.875em;
	color: #ff7000;
}

.arrow_box.error_box p,
.error-block p {
	color: #ff0000;
}

.arrow_box:after, 
.arrow_box:before {
	right: 100%;
	top: 30px;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.arrow_box:after {
	border-color: rgba(255, 255, 255, 0);
	border-right-color: #ffffff;
	border-width: 15px;
	margin-top: -15px;
}

.arrow_box:before {
	border-color: rgba(253, 112, 34, 0);
	border-right-color: #ff7000;
	border-width: 16px;
	margin-top: -16px;
}

.arrow_box.error_box:before {
	border-right-color: #ff0000;
}